@import '../../styles/variables.scss';

.MyStuff {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.nameCard {
  margin: 10px;
  border-radius: 10px;
  font-family: $font1;
  color: $fontColor1;
  box-shadow: 2px 2px 5px $shadow;
  &:hover {
    transform: scale(1.1);
    transition: .4s;
  }
}