@import '../../styles/variables.scss';

.MyStuff {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin-top: 2.5em;
}

.myStuffContainer {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  .smallCardsDiv {
    margin-left: 3em;
    margin-top: 1em;
    width: 20em;
    .addNewWrapper {
      display: flex;
      flex-direction: column;
      .addNewSpan {
        margin-right: 170px;
        padding-left: 17px !important;
        text-align: left !important;
        color: $whiteFont;
        font-size: 18px;
        font-family: $font1;
        font-weight: 700;
        background-color: $orange;
        padding: 12px 6px 12px 6px;
        width: 16em !important;
        border-radius: 5px 5px 0 0;
        box-shadow: -5px 1px 12px $shadow;
      } 
      .addIcon {
        height: 32px;
        margin-left: 5px;
        filter: invert(100%);
        &:hover {
          transition: .4s;
          transform: scale(1.2);
          filter: inver(90%);
        }
      }
    }
    .ItemsContainer {
      display: flex;
      flex-flow: column;
      overflow: scroll;
      max-height: 350px;
      // background-color: green;
      .ItemsWrapper {
        // background-color: blue;
      }
    }
  }
  .SingleItemDiv {
    margin-top: 1em;
    margin-right: 3em;
  }
}



