@import '../../styles/variables.scss';

.SignUp {
  display: flex;
  flex-direction: column;
}

.signInBanner2 {
  font-family: $font1;
  font-weight: 200;
  font-size: 22px;
  margin: 15px;
  color: $shadow;
}


.signUpBtnDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.signupBtn2 {
  width: 100px;
  margin: auto !important;
  margin-bottom: 15px !important;
  color: $whiteFont !important;
  background-color: $mainBlue !important;
  font-family: $font1 !important;
  border: 1px solid $mainBlue !important;
  &:hover {
    background-color: $whiteFont !important;
    color: $mainBlue !important;
    transition: .4s;
  }
}
.signupBtnCancel {
  width: 100px;
  margin: auto !important;
  color: $whiteFont !important;
  background-color: $orange !important;
  font-family: $font1 !important;
  font-style: italic; 
  border: 1px solid $orange !important;
  &:hover {
    background-color: $whiteFont !important;
    color: $orange !important;
    transition: .4s;
  }
}