@import '../../styles/variables.scss';

.ReceivedMessage {
  display: flex;
  margin: auto;
  flex-direction: column;
  width: 20em;
  padding: 5px 0px 5px 0px;

}

.receivedtMsg {
  border-radius: 8px;
  background-color: $msgBackground2;
  width: 14em;
  .textLeft {
    text-align: left;
    font-family: $font1;
    font-size: 14px;
    padding: 0 1px 0 4px;
  }
}

.sentMsg {
  border-radius: 8px;
  background-color: $msgBackground1;
  width: 14em;
  margin-left: auto;
  .textRight {
    text-align: right;
    font-family: $font1;
    font-size: 14px;
    padding: 0 4px 0 1px;
  }
}

.from {
  font-size: 9px;
  font-style: italic;
  font-family: $font1;
  color: $whiteFont;
  padding: 2px;
}