@import '../../styles/variables.scss';

.SingleItem {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between !important;
  border-radius: none !important;
  width: 45em;
  height: auto;
  box-shadow: 5px 1px 9px $shadow;
  &:hover {
    // transform: scale(1.03);
    box-shadow: -10px -4px 9px $shadow;
    transition: .4s;
  }
}

.cardHeader {
  display: flex;
  flex-flow: row nowrap !important;
  width: 100% !important;
  background-color: $secondBlue;
  .full-card-title {
    font-family: $font1 !important;
    font-weight: 700;
    font-size: 25px !important;
    color: $whiteFont !important;
    height: 50px;
    margin-right: auto;
    margin-top: 25px;
    margin-left: 30px;
    // text-shadow: 3px 1px 7px $upperNav;
  }
  .allCardIcons {
    width: 15em;
    margin-top: 1px;
    .conditionalIconSpan {
      height: 20px;
    }
    .isRented {
      margin-top: 18px;
      font-family: $font1;
      font-size: 12px;
      font-style: italic;
      color: $blackFont;
    }
    .singleIcon {
      filter: invert(100%);
      margin: 20px;
      padding: 5px !important;
      height: 2em;
      &:hover {
        filter: invert(90%);
        transform: scale(1.1);
        transition: .4s;
        cursor: pointer;
      }
    }
  }
}

.mainCard {
  border-radius: 0 !important;
  display: flex;
  flex-flow: row nowrap !important;
  justify-content: space-between;
  .imgDiv {
    min-width: 23em !important;
    max-width: 23em !important;
    height: 27em;
    overflow: hidden;
    box-shadow: 5px 1px 9px $shadow;
    margin-bottom: 25px;
    .SingleItemImg {
      object-fit: contain;
      margin: auto;
      border-radius: 0 !important;
    }
  }
  .singleItemDiv {
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .singleItemDescrip{
      font-family: $font1;
      font-size: 14px;
      padding: 5px;
      margin: 10px;
      margin-left: 1.5em;
      height: 17em;
      overflow: scroll;
      text-align: justify;
      border-radius: 2px;
      border: 1px solid $shadow;
      box-shadow: 5px 1px 9px $softShadow;
    }
    .detailHeaderSingleItem {
      padding: 0;
      .thConditionSI {
        padding: 0;
      }
      .singleItemCondition {
        padding: 0;
      }
    }
    .availabilityDiv {
      border-bottom: 1px solid $softShadow;
      width: 75%;
      margin: auto;
      .isAvailable {
        width: 80%;
        margin-left: 1.5em;
        font-family: $font1;
        font-size: 15px;
        color: $shadow;
        list-style-type: circle;
      }
      .checkIcon {
        color: $oranger;
        margin-right: 5px;
      }
      .isNotAvailable {

      }
    }
    .detailContentSingleItem {
      padding: 0;
      font-family: $font1;
      font-size: 20px;
      text-align: right;
      margin-right: 2em;
      // background-color: green;
      .thCategorySI {
        background-color: $mainBlue;
        color: $whiteFont;
        width: 55%;
        margin-left: auto;
        padding: 1px 5px 1px 1px;
        font-size: 14px;
        font-style: italic;
      }
      .singleItemCategory {
        margin-top: -15px;
        padding: 0;
      }
    }
  }
}

.itemConditionWrapper {
  margin: 0px 7px 15px 7px;
  font-size: 22px;
  .mint {
    color: $mint !important;
    border-bottom: 8px solid $mint;
  }
  .good {
    color: $good !important;
    border-bottom: 7px solid $good;
  }
  .fair {
    color: $fair !important;
    border-bottom: 7px solid $fair;
  }
  .relic {
    color: $relic !important;
    border-bottom: 7px solid $relic;
  }
}
