@import '../../styles/variables';
@import '~@fortawesome/fontawesome-free/css/all.css';

.MyNavbar {
  display: flex;
  flex-flow: row wrap;
}

.upperNav {
  display: flex;
  justify-content: space-between; 
  width: 100%;
  height: auto;
  background-color: white;
  border-bottom: 10px solid $orange;
  background: linear-gradient(to left, $upperNav, $upperNavWhite);
}

.userDisplayDiv {
  display: flex;
  flex-flow: row nowrap !important;
}

.userName {
  color: $blackFont;
  font-weight: 600;
  font-family: $font1;
  margin: auto;
  margin-right: 10px;
}

.userdropdownText {
  text-align: left !important;
  font-family: $font1;
}

.profilePic {
  margin: 5px;
  margin-right: 15px;
  max-height: 40px;
  max-width: 40px;
  border-radius: 50px;
  overflow: hidden;
  box-shadow: -2px 1px 9px $shadow;
  .profilePicImg {
    position: relative;
    top: -5px;
    width: 40px;
    object-fit: contain;
  }
}
.userIcon {
  margin: 5px;
  height: 40px;
}

.updateCogWheelIcon {
  color: $secondBlue;
  font-size: 19px;
  padding-right: 8px;
  margin-left: -11px;
  &:hover {
    transform: scale(1.1);
    color: $mainBlue;
  }
}

.updateUserIcon {
  color: $mainBlue;
  font-size: 19px;
  padding-right: 8px;
  margin-left: -10px;
  &:hover {
    transform: scale(1.1);
    color: $mainBlue;
  }
}

.signoutIcon {
  color: $mainBlue;
  font-size: 19px;
  padding-right: 8px;
  margin-left: -10px;
  &:hover {
    transform: scale(1.1);
    color: $mainBlue;
  }
}

.navDropDown {
  color: $orange;
  font-size: 20px;
}

#settingsDropDown {
  margin-right: 12px;
  text-shadow: none !important;
  &:active {
    box-shadow: white !important;
  }
  .btn-secondary {
    background-color: transparent !important;
    color: $mainBlue !important;
    &:active {
      box-shadow: white !important;
    }
  }
  .btn {
    box-shadow: none !important;
    &:active {
      box-shadow: none !important;
    }
  }
}
.brandSVG {
  width: 220px;
  position: absolute;
  z-index: 100;
  top: 80px;
  left: 20px;
  &:hover {
    transform: scale(1.1);
    transition: 1s;
  }
}

.navBar {
  width: 100%;
  background-color: $mainBlue;
  background-position-y: 1000px;
}

.navLink {
  font-family: $font1;
  color: $whiteFont;
  font-weight: 500;
  font-size: 1.15em;
  padding-left: 10px !important;
  padding-right: 10px !important;
  &:hover {
    color: $fontHoverColor;
    .navIcon {
      color: $orange;
    }
  }
    &:after {
        display:block;
        content: '';
        border-bottom: solid 3px $fontHoverColor;  
        transform: scaleX(0);  
        transition: transform 250ms ease-in-out;
    }
    &:hover:after { 
        transform: scaleX(1);
    }
    &.fromLeft:after{  
        transform-origin:  0% 50%; 
    }
    .navItemTitle {
      font-size: 15px;
    }
  }

  .footer{
    font-family: $font1;
    color: $blackFont;
    background-color: $fontHoverColor;
    height: 50px;
    width: 100%;
    margin: auto;
    .footerLink {
      text-decoration: none;
      margin-top: 40% !important;
      font-family: $font1;
      color: $blackFont;
      &:hover {
        color: black;
        text-decoration: none;
      }
    }
  }
 