@import '../../styles/variables.scss';

.Messages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 5px 1px 9px $shadow;
  width: 25em;
  max-height: 40em; 
  margin: auto;
  margin-top: 2em;
  border-radius: 8px;
  overflow: scroll;
}

.sendMessageForm {
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.msgsHeader {
  font-family: $font1;
  font-size: 18px;
  font-weight: 700;
  color: $whiteFont;
  // text-shadow: 2px 1px 4px $shadow;
  width: 100%;
  padding: 10px;
  background-color: $mainBlue;
  border-radius: 8px 8px 0 0;
  border-bottom: 10px solid $orange;
}
