@import '../../styles/variables.scss';

.ItemCard {
  width: 14em !important;
  height: 23em;
  margin: 30px;
  // margin-top: -10px;
  padding: 0;
  box-shadow: 5px 1px 9px $shadow;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0 !important;
  overflow: hidden;
  // border: .5px solid $mainBlue !important;
}

.imgContainer {
  width: 14em;
  height: 14em;
  overflow: hidden;
  position: absolute;
  top: .5px;
  right: .5px;
  .itemImg {
    object-fit: contain;
    margin: auto;
    border-radius: 0 !important;
  }
}

.allCardsTitle {
  margin: 0;
  margin-top: 11.5em !important;
  padding: 0;
  padding-bottom: 0px;
  font-family: $font1;
  color: $blackFont !important;
  font-size: 15px;
  height: 35px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  // border-bottom: 1px solid $shadow;
}

.cardDetails {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 7px;
  border: .5px solid $shadow;
  border-radius: 5px;
  margin-top: -20px !important;
  .thCondition {
    font-family: $font1;
    font-size: 10px;
    color: $mainBlue;
    padding: 10px;
    text-decoration: underline;
  }
  .thPriceHour {
    font-family: $font1;
    font-size: 10px;
    color: $mainBlue;
    padding: 10px;
    text-decoration: underline;
  }
  .thPriceDay {
    font-family: $font1;
    font-size: 10px;
    color: $mainBlue;
    padding: 10px;
    text-decoration: underline;
  }
  .itemCondition {
    font-family: $font1;
    font-weight: 700;
    font-size: 12px;
    color: $orange;
  }
  .itemPriceHour, .itemPriceDay {
    font-family: $font1;
    font-weight: 700;
    font-size: 12px;
    color: $orange;
  }
}

.availableAgainDate {
  font-size: 10px;
  font-style: italic;
  font-family: $font1;
  color: $mainBlue;
  text-shadow: 2px 2px 5px $shadow;
}

.allCardIconsHome {
  position: absolute;
  top: 0em;
  z-index: 100;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 4px;
  .iconSvg {
    height: 1.5em;
    padding: 5px;
  }  
}

.msgUserSpan {
  
  .msgUserBtn {
    width: 97px;
    padding: 2px !important;
    margin: auto !important;
    margin-bottom: 15px !important;
    color: $whiteFont !important;
    background-color: $mainBlue !important;
    font-family: $font1 !important;
    font-size: 10px !important;
    border: 1px solid $mainBlue !important;
    &:hover {
      background-color: $whiteFont !important;
      color: $mainBlue !important;
      transition: .4s;
    }
  }  
}
