#leafletMap {
  height: 180px;
}

// Google Map Javascript API
#map {
  height: 100%;
}

.leaflet-container {
  height: 300px;
  width: 300px;
  // border: 2px solid black;
  // margin-top: 1000px;
}

#markerSVG {
  height: 15px;
}