@import '../../styles/variables.scss';

.RentItem {
  display: block;
}

.cartIcon {
  height: 1.5em;
  padding: 5px;
  color: $orange;
  text-shadow: 1px 1px 3px $shadow;
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: .4s;
  }
}

.rentBtn {
  width: 100px;
  margin: auto !important;
  margin-bottom: 15px !important;
  color: $whiteFont !important;
  background-color: $mainBlue !important;
  font-family: $font1 !important;
  border: 1px solid $mainBlue !important;
  &:hover {
    background-color: $whiteFont !important;
    color: $mainBlue !important;
    transition: .4s;
  }
}

.cancelRental {
  font-size: 24px;
  padding: 10px;
  color: $orange;
  border: 1px solid $orange;
  border-radius: 5px;
  cursor: pointer;
}

.returnTime {
  font-family: $font1;
  font-weight: 700;
  font-size: 14px;
  color: $orange;
  margin-top: 15px;
}

.hoursRoloDiv {
  display: flex;
  flex-direction: row;
  .howManyHours {
    font-family: $font1;
    width: 200px;
    text-align: left;
    margin-top: 1em;
  }
  .rolodexDiv {
    width: 100px;
    height: 100px;
    margin: auto;
    border-radius: 10px;
    background-color: $secondBlue;
  }
}

