@import '../../styles/variables.scss';

.RentItem {
  display: block;
}

.cartIcon {
  height: 1.5em;
  padding: 5px;
  color: $orange;
  text-shadow: 1px 1px 3px $shadow;
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: .4s;
  }
}

.returnTime {
  font-family: $font1;
  font-weight: 700;
  font-size: 14px;
  color: $orange;
  margin-top: 15px;
}

.hoursRoloDiv {
  display: flex;
  flex-direction: row;
  border-top: 1px solid $upperNav;
  border-bottom: 1px solid $upperNav;
  padding: 15px 0 15px 0;
  .howManyHours {
    font-family: $font1;
    text-align: left;
    font-size: 17px;
    margin: auto;
  }
  .rolodexDiv {
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: 40px;
    background-color: $softShadow;
    box-shadow: 4px 1px 9px $softShadow;
  }
}

.rentalInfoDiv {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  // background-color: $upperNav;
  .pickupandreturnlocH3 {
    font-family: $font1;
    font-size: 18px;
    color: $blackFont;
    border-bottom: 1px solid $shadow;
    padding-bottom: 8px;
    width: 49%
  }
  .editRentalInfoP {
    font-family: $font1;
    margin: 3px;
    width: 200px;
    text-align: left;
    color: $blackFont;
  }
}

.rentalModalBtnsDiv {
  display: flex;
  flex-flow: row nowrap;
  align-content: flex-start;
  .cancelRentalItemBtn {
    width: 100px;
    margin-bottom: 15px !important;
    margin-left: 15px;
    color: $whiteFont !important;
    background-color: $orange !important;
    font-family: $font1 !important;
    border: 1px solid $orange !important;
    &:hover {
      background-color: $whiteFont !important;
      color: $orange !important;
      transition: .4s;
      border: 1px solid $orange !important;
    } 
  }
  .rentBtn {
    width: 100px;
    margin-bottom: 15px !important;
    color: $whiteFont !important;
    background-color: $mainBlue !important;
    font-family: $font1 !important;
    border: 1px solid $mainBlue !important;
    &:hover {
      background-color: $whiteFont !important;
      color: $mainBlue !important;
      transition: .4s;
    }
  }
}