$upperNav: rgb(233, 233, 233);

$mainBlue: #5f91d9;
$secondBlue: rgb(81, 135, 211);

$shadow: rgb(160, 160, 160);

$blackFont: rgb(65,65,65);

$whiteFont: white;
$fontHoverColor: rgb(241, 239, 239);

$font1: Helvetica,Arial,sans-serif;

$font2: 'Yellowtail', cursive;

$orange: #e78d36;

$msgBackground1: rgba(95, 145, 217, .5);
$msgBackground2: rgba(231, 141, 54, .5);

// font-family: 'Handlee', cursive;
// font-family: 'Monoton', cursive;
// font-family: 'Bad Script', cursive;
// font-family: 'Yellowtail', cursive;