$upperNav: rgb(233, 233, 233);

$mainBlue: #5F91D9;

$shadow: rgb(160, 160, 160);

$blackFont: black;

$whiteFont: white;
$fontHoverColor: rgb(241, 239, 239);

$font1: Helvetica,Arial,sans-serif;

$font2: 'Yellowtail', cursive;

$orange: rgb(231, 141, 54);

// font-family: 'Handlee', cursive;
// font-family: 'Monoton', cursive;
// font-family: 'Bad Script', cursive;
// font-family: 'Yellowtail', cursive;