@import '../../styles/variables.scss';

.MessageRow {
  display: flex;
  flex-direction: column;
  width: 400px;
  background-color: $shadow;
  border: 1px solid $upperNav;
}

.messageP {
  background-color: $upperNav;
  width: 45%;
  margin: 5px;
  padding: 10px;
}