@import '../../styles/variables.scss';

.MessageRow {
  margin: 10px;
  display: flex;
  flex-direction: column;
  width: 400px;
  .sentMessage {
    margin-left: auto;
    text-align: left;
    background-color: $msgBackground2;
    box-shadow: 3px 1px 8px $softShadow;
  }
  .receivedMessage {
    margin-right: auto;
    text-align: left;
    background-color: $msgBackground1;
    box-shadow: -3px 1px 8px $softShadow;
  }
}

.messageP {
  background-color: $upperNav;
  width: auto;
  max-width: 60%;
  margin: 0px;
  padding: 10px;
  border-radius: 15px;
  font-family: $font1;
  font-size: 15px;
  color: $blackFont;
}

