@import '../../styles/variables.scss';

.SearchAndSort {
  margin-top: 1em;
  margin-bottom: .5em;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.catDropDown {
  border-radius: 20px !important;
}

.dropdown-item {
  color: $blackFont !important;
}

.searchInput {
  width: 18em !important;
  margin-left: 5px;
}

.btn-secondary {
  background-color: $mainBlue !important;
  border: none !important;  
}

#allCategoriesSelected {
  &:hover {
    color: $upperNav !important;
  }
}

.searchBarDiv {
  display: flex;
  flex-direction: row;

  .searchInput {
    border-radius: 20px 0 0 20px;
    height: 30px !important;
    border: .5px solid $secondBlue;
    border-right: none;
  }
  
  .magnifyingGlass {
    position: relative;
    top: 7px;
    left: -25px;
    color: $secondBlue;
  }
}

#searchSortDropdown {
  top: 200px !important;
}

#SearchAndSortDropdown {
  position: relative;
  right: 16px;
  background-color: $orange !important;
  border-radius: 0px 15px 15px 0px;
  width: 110px;
  height: 30px;
  font-family: $font1;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  border: .5px solid $orange !important;
  &:hover {
    background-color: #e99e58 !important;
    color: white !important;
  }
}

