@import '../../styles/variables.scss';

.SearchAndSort {
  margin-top: 1em;
  margin-bottom: 2em;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

// .searchDiv {
//   // width: 25em !important;
// }


.searchInput {
  width: 18em !important;
  margin-left: 5px;
}

.btn-secondary {
  background-color: $mainBlue !important;
  border: none !important;
  color: $mainBlue;
  .dropdownToggle {
  }
  .dropdownMenu {
    margin-right: 30px;
    margin-top: 40px;
    background-color: blue !important;
  }
}