@import '../../styles/variables.scss';

.Home {
  margin: auto;
  width: 100%;
  // min-height: 100%;
  display: flex;
  flex-direction: column;
}

.allCardsWrapper {
  margin: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow: auto;
}

.allCardsDiv {
  display: flex;
  flex-flow: row nowrap !important;
}

.searchAndSort {
  width: 100%;
}

// Modal
.closeNoRentModalBtn {
  width: 100px;
  margin: auto !important;
  margin-top: 15px !important;
  margin-bottom: 15px !important;
  color: $whiteFont !important;
  background-color: $orange !important;
  font-family: $font1 !important;
  border: 1px solid $orange !important;
  &:hover {
    background-color: $whiteFont !important;
    color: $orange !important;
    transition: .4s;
  }
}

.cantRentMHeader {
  font-family: $font1 !important;
  font-size: 24px !important;
}

.footerDiv {
  margin-top: 40%;
}
