@import '../../styles/variables.scss';

.Home {
  margin: auto;
  width: 100%;
  // background-color: blue;
  display: block;
  
}

// .horizontal-scroll-wrapper {
//   background-color: blue;
//   width: 25em;
//   height: 40em;
//   overflow-y: auto;
//   overflow-x: hidden;
//   transform: rotate(-90deg);
//   transform-origin: right top; 
// } 
